<h1> Welcome to Palindrome </h1>
<form action="/palindrome_answer">
  <div class ="form-group">
    <label for ="Palindrome"> Do you have a palindrome to try?</label>
      <input id="string" name="string" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success"> Send</button>
</form>
